<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3final.dao.ChoiceOptionDAO">
	<select id="selectChoiceOpotionList" resultType="ChoiceOptionVO">
		select choice_option.*, do_name as co_do_name from choice_option 
		join default_option on do_num = co_do_num
		where co_ld_num = #{ld_num};
	</select>
	<insert id="insertChoiceOption">
		insert into choice_option(co_do_num, co_ld_num)
		value(#{do_num}, #{ld_num})
	</insert>
</mapper>