<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3final.dao.MemberDAO">
	<select id="selectMember" resultType="MemberVO">
		select*
		from member
		where me_id = #{me_id}
		and me_del = 'N'
	</select>
	<insert id="insertMember">
		insert into member(me_id, me_pw, me_email, me_number, me_name, me_nick, me_birthday)
		value(#{me_id},#{me_pw},#{me_email},#{me_number}, #{me_name}, #{me_nick}, #{me_birthday})
	</insert>
	<select id="selectMemberByEmailAndProvider" resultType="MemberVO">
		select*
		from member
		where me_email = #{me_email} and me_provider = #{me_provider}
	</select>
	<insert id="insertMemberByIp" useGeneratedKeys="true" keyProperty="me_num">
		insert into member(me_id, me_pw, me_email, me_number, me_name, me_nick, me_birthday, me_gender, me_profile, me_provider)
		value(#{me_id},#{me_pw},#{me_email},#{me_number}, #{me_name}, #{me_nick}, #{me_birthday}, #{me_gender}, #{me_profile}, #{me_provider})
	</insert>
	<update id="updateUser">
		UPDATE member
		<set>
			<if test="me_number != null">
				ME_NUMBER = #{me_number},
			</if>
			<if test="me_nick != null">
				ME_NICK = #{me_nick},
			</if>
			<if test="me_birthday != null">
				ME_BIRTHDAY = #{me_birthday},
			</if>
			<if test="me_gender != null">
				ME_GENDER = #{me_gender},
			</if>
		</set>
		WHERE ME_NUM = #{me_num}
	</update>
	<update id="deleteUser">
		UPDATE MEMBER
		SET ME_DEL = 'Y'
		WHERE ME_NUM = #{me_num}
	</update>
	<select id="selectId" resultType="String">
		select me_id from member where me_name = #{me_name} and me_number = #{me_number} and me_del = "N";
	</select>
	<select id="selectPw" resultType="MemberVO">
		select *from member where me_name = #{me_name} and me_id = #{me_id} and me_number = #{me_number} and me_del = "N";
	</select>
	<update id="updatePw">
		update member set me_pw = #{me_pw} where me_num = #{me_num} and me_del ="N"
	</update>
</mapper>