<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3final.dao.RentReservationDAO">
    <select id="selectRentList" parameterType="int" resultType="kr.kh.team3final.model.vo.RentReservationVO">
        SELECT r.*, ct.CT_NAME
        FROM re_reservation r
        JOIN car_package p ON r.rr_cp_num = p.CP_NUM
        JOIN car c ON p.CP_CR_ID = c.CR_ID
        JOIN car_type ct ON c.CR_CT_KEY = ct.CT_KEY
        WHERE r.rr_me_num = #{meNum}
        ORDER BY r.rr_date DESC
    </select>
    <resultMap id="RentReservationResultMap" type="kr.kh.team3final.model.vo.RentReservationVO">
        <id property="rr_num" column="rr_num"/>
        <result property="rr_checkIn" column="rr_checkIn"/>
        <result property="rr_chekout" column="rr_chekout"/>
        <result property="rr_price" column="rr_price"/>
        <result property="rr_date" column="rr_date"/>
        <result property="rr_state" column="rr_state"/>
        <result property="rr_name" column="rr_name"/>
        <result property="rr_number" column="rr_number"/>
        <result property="rr_birth" column="rr_birth"/>
        <result property="rr_cp_num" column="rr_cp_num"/>
        <result property="rr_me_num" column="rr_me_num"/>
        <result property="ct_name" column="ct_name"/>
    </resultMap>

    <select id="getLatestRentReservation" parameterType="int" resultType="kr.kh.team3final.model.vo.RentReservationVO">
        SELECT r.*, c.ct_name
        FROM re_reservation r
        JOIN car_package p ON r.rr_cp_num = p.cp_num
        JOIN car cr ON p.cp_cr_id = cr.cr_id
        JOIN car_type c ON cr.cr_ct_key = c.ct_key
        WHERE r.rr_me_num = #{meNum}
          and  r.RR_STATE = '예약완료'
        ORDER BY r.rr_checkIn DESC
        LIMIT 1
    </select>
</mapper>