<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3final.dao.RentalDAO">

	<select id="selectAvailableCarList" resultType="kr.kh.team3final.model.dto.AvailableCarDTO" parameterType="map">
		SELECT 
			r.RE_NUM     AS rentalId,
			r.RE_NAME    AS rentalName,
			r.RE_REGION  AS rg_name,
			ROUND(AVG(rv.RV_RATING), 1) AS avgRating,
			COUNT(rv.RV_NUM) AS reviewCount,
			
			c.CR_ID      AS carId,
			c.CR_YEAR    AS carYear,
			c.CR_FUEL_TYPE AS carFuel,
			c.CR_TRANS   AS carTrans,
			c.CR_PRICE   AS carPrice,
			c.CR_THUMBNAIL AS thumbnail

		FROM RENTAL r
		JOIN CAR c ON r.RE_NUM = c.CR_RE_NUM
		JOIN CAR_TYPE ct ON c.CR_CT_KEY = ct.CT_KEY
		LEFT JOIN REVIEW rv ON rv.RV_TABLE_NAME = 'rental' AND rv.RV_NUMBER = r.RE_NUM
		LEFT JOIN (
			SELECT cp.CP_CR_ID, COUNT(*) AS reserved_count
			FROM RE_RESERVATION rr
			JOIN CAR_PACKAGE cp ON rr.RR_CP_NUM = cp.CP_NUM
			WHERE rr.RR_STATE = '예약완료'
				AND (rr.RR_CHECKIN &lt; #{checkout} AND rr.RR_CHEKOUT &gt; #{checkin})
			GROUP BY cp.CP_CR_ID
		) res ON c.CR_ID = res.CP_CR_ID

		WHERE r.RE_REGION LIKE CONCAT('%', #{rg_name}, '%')
			AND c.CR_CT_KEY = #{ct_key}
			AND c.CR_YEAR = #{cr_year}
			AND c.CR_FUEL_TYPE = #{cr_fuel_type}
			AND c.CR_TRANS = #{cr_trans}
			AND (c.CR_COUNT - IFNULL(res.reserved_count, 0)) &gt; 0

		GROUP BY r.RE_NUM, c.CR_ID 
		ORDER BY c.CR_PRICE ASC
	</select>

	<select id="selectRentalInfo" parameterType="int" resultType="RentalVO">
		SELECT 
			r.*, 
			ROUND(AVG(rv.rv_rating), 1) AS avg_rating,
			COUNT(rv.rv_num) AS review_count
		FROM rental r
		LEFT JOIN review rv ON rv.rv_table_name = 'rental' AND rv.rv_number = r.re_num
		WHERE r.re_num = #{re_num}
	</select>

	<select id="selectCarTypes" resultType="CarTypeVO">
		select *
		from car_type
	</select>

	<insert id="insertRental" useGeneratedKeys="true" keyProperty="re_num">
		insert into rental(re_name, re_number, re_region, re_me_num, re_rg_num)
		value(#{re_name},#{re_number},#{re_region},#{re_me_num},#{re_rg_num})
	</insert>
</mapper>