<!DOCTYPE html>
<html
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>렌트내역</title>
	<style>
	</style>
</head>
<body>
	<main layout:fragment="content">
		<div class="empty-box">
			<p class="main-text">진행중인 렌트 내역이 없습니다 :)</p>
			<p class="sub-text">지금 원하는 렌트카 빌리고<br>신나게 떠나볼까요?</p>
			<a class="primary-btn" href="/">렌트하러 가기</a>
		</div>
	</main>
</body>
</html>