<!DOCTYPE html>
<html
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<title>렌트내역</title>
</head>
<body>
	<main >
        <div class="container" th:if="${latestRent != null}">
            <div th:if="${!#lists.isEmpty(latestRent)}">
                <h3 class="text-center">최근 렌트카 예약 내역</h3>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>예약번호</th>
                            <th>예약자</th>
                            <th>차량이름</th>
                            <th>대여일</th>
                            <th>반납일</th>
                            <th>예약일시</th>
                            <th>가격</th>
                            <th>상태</th>
                            <th>예약취소</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rent : ${latestRent}">
                            <td th:text="${rent.rr_num}">예약번호</td>
                            <td th:text="${rent.rr_name}">예약자</td>
                            <td th:text="${rent.ct_name}">차량이름</td>
                            <td th:text="${#dates.format(rent.rr_checkIn, 'yyyy-MM-dd HH:mm')}">대여일</td>
                            <td th:text="${#dates.format(rent.rr_chekout, 'yyyy-MM-dd HH:mm')}">반납일</td>
                            <td th:text="${#dates.format(rent.rr_date, 'yyyy-MM-dd HH:mm')}">예약일시</td>
                            <td th:text="${#numbers.formatInteger(rent.rr_price, 3, 'COMMA')} + '원'">가격</td>
                            <td th:text="${rent.rr_state}">상태</td>
                            <td>
							<button
								th:if="${rent.cancelable}"
								th:attr="data-rr_num=${rent.rr_num}"
								class="btn btn-danger cancel-btn" >
								예약 취소
							</button>
							<span th:unless="${rent.cancelable}" style="color: gray;">
								취소 불가
							</span>
						</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${#lists.isEmpty(latestRent)}" class="empty-box">
                <p class="main-text">예약하신 렌트카 내역이 없습니다 :)</p>
                <p class="sub-text">지금 원하는 렌트카 예약하고<br>여행을 떠나보세요!</p>
                <a class="primary-btn" href="/rent">렌트하러 가기</a>
            </div>
        </div>
        <script>
            $(document).on("click", ".cancel-btn", function(e){

                if (!confirm("정말 해당 렌트 예약을 취소하시겠습니까?")) return;

                const rrNum = $(this).data("rr_num");

                $.ajax({
                    url: "/member/reservation-rent/cancel",
                    method: "POST",
                    data: { rr_num: rrNum },
                    success: function (response) {
                        if (response === "success") {
                            alert("예약이 성공적으로 취소되었습니다.");
                            location.reload();
                        } else {
                            alert("예약 취소에 실패했습니다.");
                        }
                    },
                    error: function () {
                        alert("서버와의 통신에 실패했습니다.");
                    }
                });
            })
	    </script>
	</main>
</body>
</html>