<!DOCTYPE html>
<html
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>렌트내역</title>
	<style>
	</style>
</head>
<body>
	<main layout:fragment="content">
    <!-- 예약 내역이 있을 경우 -->
    <!-- 단건 VO일 경우 -->
    <div class="container" th:if="${latestRent != null}">
        <h3 class="text-center">최근 렌트카 예약 내역</h3>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>예약번호</th>
                    <th>예약자</th>
                    <th>차량이름</th>
                    <th>대여일</th>
                    <th>반납일</th>
                    <th>예약일시</th>
                    <th>가격</th>
                    <th>상태</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="rent : ${latestRent}">
                    <td th:text="${rent.rr_num}"></td>
                    <td th:text="${rent.rr_name}"></td>
                    <td th:text="${rent.ct_name}"></td>
                    <td th:text="${#dates.format(rent.rr_checkIn, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#dates.format(rent.rr_chekout, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#dates.format(rent.rr_date, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#numbers.formatInteger(rent.rr_price, 3, 'COMMA')} + '원'"></td>
                    <td th:text="${rent.rr_state}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 예약 내역 없을 경우 -->
    <div th:if="${latestRent == null}" class="empty-box">
        <p class="main-text">예약하신 렌트카 내역이 없습니다 :)</p>
        <p class="sub-text">지금 원하는 렌트카 예약하고<br>여행을 떠나보세요!</p>
        <a class="primary-btn" href="/rent">렌트하러 가기</a>
    </div>
	</main>
</body>
</html>