<!DOCTYPE html>
<html
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>나의 리뷰</title>
	<style>
		.main-text{		
			height: 28.8px;
    		padding: 2rem 0;
    		background-color: #fff;
    		border-bottom: 1px solid #f8f8f8;
			text-align: center
		}
		.js-hero-pc-title{
			font-size: 24px;
		}
		.tab {
			width: 50%;
			text-align: center;
			padding: 10px 20px;
			color: #888;
			cursor: pointer;
		}
		.tab.active {
			color: #007bff;
			border-bottom: 2px solid #007bff;
		}
	</style>
</head>
<body>
	<main layout:fragment="content">
		<div style="width: 100%; border-top: 1px solid #eeeeee;"></div>
		<div class="main-text" style="text-align: center; padding: 2rem 0;">
			<h1 class="js-hero-pc-title" style="font-size: 24px; color: #333;">나의 리뷰</h1>
		</div>
		<div style="width: 70%; margin: 0 auto; background-color: #fff; padding: 30px; border-radius: 8px; width: 768px;">
			<p><strong>사용자</strong></p>
			<p style="color: #999;">작성한 리뷰 0</p>
		</div>
		<div style="width: 70%; margin: 20px auto; background-color: #fff; padding: 30px; border-radius: 8px; width: 768px;">
			<p><strong>사용자 리뷰</strong></p>

			<div id="tab-menu" style="display: flex; justify-content: center; margin-top: 20px; border-bottom: 2px solid #ddd;">
				<div class="tab" onclick="changeTab(this)">렌트카</div>
				<div class="tab active" onclick="changeTab(this)">호텔</div>
			</div>
			<div id="tab-content" style="text-align: center; margin-top: 30px; color: #aaa;">
			작성된 리뷰가 없습니다.
			</div>
		</div>	  
		<script>
			function changeTab(clickedTab) {
				const $tabs = $('.tab');
				$tabs.removeClass('active').css({ color: '#888', borderBottom: 'none' });
				$(clickedTab).addClass('active').css({ color: '#007bff', borderBottom: '2px solid #007bff' });
				const selectedText = $(clickedTab).text();
				const content = selectedText === '렌트카' ? '렌트카 리뷰가 없습니다.' : '호텔 리뷰가 없습니다.';
				$('#tab-content').text(content);
			}

			
		</script>
	</main>
</body>
</html>