<!DOCTYPE html>
<html 
lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout.html}"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>결제</title>
<style>
	body{
		background-color: #f5f6f7;
    font-family: 'Noto Sans KR', sans-serif;
	}
	.container-box {
		background-color: #fff;
		padding: 30px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
	.row{
		display: flex;
		justify-content: center;
	}
	.in{
		margin-top: 50px;
		margin-bottom: 10px;
	}

</style>
</head>
<main layout:fragment="content" class="container mb-5">
<body >
	<div class="row">
		<div class="col-md-7 container-box mr-3">
			<form>
				<small class="text-muted">4성급</small>
				<h5 class="d-flex justify-content-between align-items-center border-bottom pb-3 mt-1 mb-2" style="font-size: 20px">좋아요~호텔</h5>
				<div class="d-flex justify-content-center align-items-center border-bottom pb-2" style="gap: 32px;">
					<div class="text-center mx-5">
						<small class="text-muted">체크인</small>
						<div style="font-weight: bold;">5/8/목</div>
						<div style="font-size: 0.9rem;">15:00 ~</div>
					</div>
					<div class="text-center mx-5">
						<span class="badge badge-light">1박</span>
					</div>
					<div class="text-center mx-5">
						<small class="text-muted">체크아웃</small>
						<div style="font-weight: bold;">5/9/금</div>
						<div style="font-size: 0.9rem;">11:00 까지</div>
					</div>
				</div>
				<div class="d-flex align-items-center border-bottom py-3">
					<div style="font-weight: bold; margin-right: 100px;">객실정보</div>
					<div>Deluxe Double City</div>
				</div>
				<div class="d-flex align-items-center pt-3">
					<div style="font-weight: bold; margin-right: 128px;">인원</div>
					<div>성인2명</div>
				</div>
			</form>
			<form>
				<h5 class="in">예약자 정보</h5>
					<div class="form-group">
							<label>이름</label>
							<input type="text" class="form-control" placeholder="성명">
					</div>
					<div class="form-group">
							<label>휴대폰 번호</label>
							<input type="text" class="form-control" placeholder="예: 010-1234-5678">
					</div>
			</form>
			<form>
				<h5 class="in">숙박자 정보</h5>
					<div class="form-check my-3">
						<input class="form-check-input" type="checkbox" checked>
						<label class="form-check-label">숙박자와 예약자 정보가 같습니다</label>
					</div>
					<div class="form-group">
							<label>이름</label>
							<input type="text" class="form-control" placeholder="성명">
					</div>	
					<div class="form-group">
						<label>휴대폰 번호</label>
							<input type="text" class="form-control" placeholder="예: 010-1234-5678" style="flex: 1;">
							<div class="text-right mt-2">
								<button type="button" class="btn btn-outline-secondary btn-sm mt-2 py-1">인증번호받기</button>
							</div>
					</div>
				</form>
				<form>
					<h5 class="in">숙박자 정보</h5>
						<div class="form-check my-3">
							<input class="form-check-input" type="checkbox" checked>
							<label class="form-check-label">숙박자와 예약자 정보가 같습니다</label>
						</div>
				</form>
		</div>
	</div>
</main>
</body>
</html>